*, *:before, *:after{
  box-sizing: border-box;
}

img{
  max-width: 100%;
  height: auto;
}

body{
  margin: 0;
  padding: 0;
}

.btn{
  margin: 10px !important;
}

.register-yet{
  margin-top: 15px !important;
}

.profile-pic{
  width: 200px !important;
  height: 200px !important;
}
